
\.ipynb_checkpoints/Set_1-checkpoint\.ipynb

\.ipynb_checkpoints/Set_2-checkpoint\.ipynb

\.ipynb_checkpoints/Set_3-checkpoint\.ipynb

\.ipynb_checkpoints/Set_4-checkpoint\.ipynb

\.ipynb_checkpoints/Set_5-checkpoint\.ipynb

\.ipynb_checkpoints/Set_6-checkpoint\.ipynb
